@{
    ViewData["Title"] = "Game";
}

<div class="container main-game-container">
    <div class="info-container">
        <div class="row">
                <div class="col fw-bold fs-3 mt-2">
                    Connection id: 2555889
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold fs-4">
                    Players: Player1, Player2
                </div>
            </div>
    </div>

    <div class="row game-container d-flex justify-content-center">
        <div class="row game-field">
            <div class="text-center game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
            <div class="text-center game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
            <div class="text-center game-row">
                <div class="game-cell"></div>
                <div class="game-cell"></div>
                <div class="game-cell"></div>
            </div>
        </div>
    </div>

</div>