html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-signin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; !important;
  height: 100%; !important;
}

.modal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%
}